NODE_ENV=production
PORT=3000

# BD
DB_HOST=tu host
DB_PORT=tu puerto
DB_NAME=tu name
DB_USER=tu user
DB_PASS=tu password
DB_SSL=true

CORS_ORIGINS=https://dev.freeler.com
IA_CONFIG_SECRET=dev_secret_change_me

# JWT
JWT_SECRET=change-me-in-prod
JWT_EXPIRES_IN=8h

SWAGGER_PATH=/api
